.auth-page {

  grid-area: m;

  display: flex;
  justify-content: left;
  align-items: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #EBECF0;
  box-shadow: 5px 3px 24px -9px rgba(34, 60, 80, 0.2);
  padding: 40px;
  padding-bottom: 32px;
  border-radius: 16px;

  align-items: center;

  width: 100%;
  max-width: 400px;

}

.auth-block {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  width: 100%;
}

.auth-label {
  color: gray;
  font-size: 14px;
  margin-bottom: 4px;
}

.auth-input {
  background-color: #EBECF0;
  border: 1px solid lightgray;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  padding: 8px 16px;
}

.auth-input:focus {
  border-color: lightseagreen;
}

.auth-button {
  margin-top: 12px;
  background-color: lightseagreen;
  border: 1px solid;
  color: white;
  font-size: 18px;
  max-width: 100px;
  width: 100%;
  border-radius: 8px;
  padding: 8px 24px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  max-height: 39px;
}

.auth-button:hover {
  background-color: #28a49d;
}

.auth-button:disabled {
  background-color: darkgrey;
}

.error-label {
  color: red;

}