.score {
    background-color: #DFE1E6;
    border-radius: 8px;
    font-size: 12px;
    padding: 2px 6px;
    line-height: 1;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.score:hover {
    background-color: #8993A4;
}

.score-input-wrapper {
    position: relative;
    width: 50px;
}

.score-input {
    width: 100%;
}

.score-buttons {
    position: absolute;
    display: flex;
    top: calc(100% + 4px);
}