.header {
    border-bottom: 1px solid #EBECF0;
    box-shadow: 5px 3px 24px -9px rgba(34, 60, 80, 0.2);
    display: flex;
    padding: 12px 24px;

    align-items: center;


}



.logo-box {
    font-family: 'Finlandica', sans-serif;
}

.logo-box-1 {
    font-size: 30px;
}

.logo-box-2 {
    font-size: 20px;
}

.nav-header {
    margin-left: 120px;
}

.link-header {
    margin-right: 24px;
    font-weight: 500;
    text-decoration: none;
    color: #929fb9;
    transition: all 0.1s ease-in-out;
    font-size: 16px;

}
.link-header:hover {
    color: #596A8C;
}

.link-header-active, .link-header-active:hover {
    color: #22284B;
}

.logout {
    cursor: pointer;
    margin-left: auto;
}

@media (max-width: 1024px) {
    .logo-box-1 {
        font-size: 20px;
    }

    .logo-box-2 {
        font-size: 14px;
    }

    .nav-header {
        margin-left: 30px;
    }

    .link-header {
        margin-right: 16px;
    }
}

@media (max-width: 767px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-header {
        margin-left: 0;
        margin-top: 8px;
        display: flex;
        flex-direction: column;
    }

    .link-header {
        font-size: 14px;
    }

    .logout {
        margin-top: 12px;
        margin-left: 0;
    }
}


