.smart-calendar {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    align-content: start;
    min-width: 300px;

}



.ddate {
    display: flex;
    color: black;
    padding: 5px;
    height: 30px;
    width: 14%;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.ddate:not(:empty):hover {
    background-color: lightgoldenrodyellow;
}

.ddate:empty {
    cursor: default;
}

.ddate:nth-child(7n-1), .ddate:nth-child(7n) {
    color: red;
}

.curDdate,.curDdate:hover {
    background-color: #337AB7 !important;
}


.exist-ddate {
    position: relative;
}

.exist-ddate:after {
    position: absolute;
    content: '';
    border-radius: 50%;
    height: 6px;
    width: 6px;
    background-color: #337AB7;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1px;
}

.curDdate:after {
    background-color: white;
}

