.smart-calendar {
    display: flex;
    grid-area: l;
    background-color: pink;
    padding: 20px;
    flex-wrap: wrap;
    align-content: start;

}



.ddate {
    color: black;
    padding: 5px;
    height: 30px;
    width: 14%;

}

.ddate:hover {
    background-color: lightgoldenrodyellow;
}

.ddate:nth-child(7n-1), .ddate:nth-child(7n) {
    color: red;
}

.curDdate,.curDdate:hover {
    background-color: #337AB7;
}


.exist-ddate {
    background-color: lightskyblue;
    color: black;
    font-weight: bold;
}