.task-list {
    padding: 20px;
}


.ddate-label {
    padding-left: 28px;
    border-bottom: 4px solid lightskyblue;
    max-width: calc(700px + 2 * 28px);
    padding-bottom: 4px;
}

.location-block {
  display: flex;

}

.location-label {

}

.location-input {
    border: dashed;
    width: 100px;
}